* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary: #ed4d1b;
  --color-secondary: #F2C029;
  --color-light-orange: #F2D06B;
  --color-black: #000;
  --color-white: #fff;
  --color-black_grey: #262626;

}

body {
  background: linear-gradient(
    90deg,
    rgb(253, 253, 224) 0%,
    rgb(255, 255, 246) 100%,
  );
}

.iconinst {
  width: 2.3rem;
}

.iconredes {
  height: 2.3rem;
}

header {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.maps{
  background-color: var(--color-black_grey);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0.8rem 6rem ;
}

.maps a {
  color: var(--color-white);
  font-weight: 600;
  display: flex;  
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.location {
  color: #fff;
}

a {
  text-decoration: none;
}

.icons {
  display: flex;

}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav p {
  margin: 0 5rem;
}

.nav a {
  color: var(--color-white);
  font-size: larger;
}

.nav .logo{
  height: 5rem;
  border-radius: 50%;
  margin: 1rem 0;
}
.cards {
  display: flex;
  width: 80vw;
  height: 24.39rem;
  margin: auto;
}
.card-left {
  background-color: var(--color-black_grey);
}
.card-left .img1{
  width: 41.9rem;
}
.card-right {
  color: aliceblue;
  background-color: var(--color-black_grey);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



/*main .logo img {
  height: 12rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 0px 10px 30px #00000056;
}*/


